@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU&display=swap');


/*Foreced update to fix the theme*/

@layer base {
  :root {
    --primary: #ABC4FF;
    /* Main color */
    --secondary: #C1D3FE;
    /* Secondary color */
    --accent: #EDF2FB;
    /* Accent color */
    --background: #ffffff;
    --foreground: #1a202c;
    --card: rgba(255, 255, 255, 0.75);
    /* Glassy card background */
    --card-background: #f8f8f86c;
    --card-foreground: #1a202c;
    --popover: #ffffff;
    --popover-foreground: #1a202c;
    --primary-foreground: #ffffff;
    --primary-background: #024eff17;
    --secondary-foreground: #1a202c;
    --accent-foreground: #1a202c;
    --muted: #e2e8f0;
    --muted-foreground: #718096;
    --destructive: #ff8800;
    --destructive-foreground: #ffffff;
    --border: #cbd5e0;
    --input: #cbd5e0;
    --ring: #1a202c;
    --radius: 0.5rem;
    --chart-1: #ff6347;
    --chart-2: #00bfff;
    --chart-3: #ff7f50;
    --chart-4: #32cd32;
    --chart-5: #ff4500;
    --nav-bg: #1a202c;
  }

  .dark {
    --primary: #ABC4FF;
    /* Main color */
    --secondary: #C1D3FE;
    /* Secondary color */
    --accent: #EDF2FB;
    /* Accent color */
    --background: #ffffff;
    --foreground: #1a202c;
    --card: rgba(241, 243, 248, 0.75);
    /* Glassy card background */
    --card-background: #fcfcfc6c;
    --card-foreground: #1a202c;
    --popover: #ffffff;
    --popover-foreground: #1a202c;
    --primary-foreground: #ffffff;
    --primary-background: #024eff17;
    --secondary-foreground: #1a202c;
    --accent-foreground: #1a202c;
    --muted: #e2e8f0;
    --muted-foreground: #718096;
    --destructive: #ff8800;
    --destructive-foreground: #ffffff;
    --border: #cbd5e0;
    --input: #cbd5e0;
    --ring: #1a202c;
    --radius: 0.5rem;
    --chart-1: #ff6347;
    --chart-2: #00bfff;
    --chart-3: #ff7f50;
    --chart-4: #32cd32;
    --chart-5: #ff4500;
    --nav-bg: #1a202c;
    --nav-heading: #020368;
  }

  .bg-gold-500 {
   
    background-color: #FFD700; /* Gold color */
  }
  .bg-gold-600 {
    background-color: #ffd900ce; /* Gold color */
  }

  .text-gold-500 {
    color: #FFD700; /* Gold color */
  }


  .custom-font {
    font-family: 'Playwrite HU', 'Arial Narrow', Arial, sans-serif;
    color: var(--nav-heading);    
  }

  .nav-heading {
    color: var(--nav-heading);
  }

  .nav-bar {
    background-color: var(--nav-bg);
    color: var(--foreground);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}